/* // X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (orientation: landscape){
    .calculadora{
        box-shadow: 1.5rem 1.5rem 1.5rem -0.3rem rgb(240, 48, 96);
    }
}


/* // XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px) and (orientation: landscape){
    html{
        font-size: 120%;
    }
    .container{
        background-image: url(./img/copa-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content: right;
    }
    .calculadora{
        box-shadow: 2rem 2rem 2rem 0.5rem rgb(57, 11, 22); 
        margin-right: 10%;
    }
}

@media only screen and (min-width: 1900px) and (orientation: landscape){
    html{
        font-size: 140%;
    }
}