/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 720px) and (orientation: portrait) {
    html{
        font-size: 110%;
    }
    .conteiner{
        background-image: url(./img/camiseta-tablet.jpg);
    }
    .calculadora{
        background-image: url(./img/besoCopa-tablet.jpg);
    }
}
@media only screen and (min-width: 1080px) and (orientation: landscape){
    html{
        font-size: 100%;
    }
    .conteiner{
        background-image: url(./img/messiMulticolor-tablet.png);
    }
    .calculadora{
        background-image: url(./img/festejo-tablet.jpg);
    }
}